{% extends "network/layout.html" %}
{% load static %}
{% block body %}
<div class="container-lg">

    <h3 class="display-4 mb-4 text-center">All Following Posts</h3>
  
    <div class="row justify-content-center align-items-center my-5">
        <div class="col-12">

           <!-- Add pagination feature -->
           <nav aria-label="post pages">  
                    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
             
            <ul class="pagination justify-content-center">

                {% if page_obj.has_previous %}
                <li class="page-item">  
                    <a href="?page=1" class="page-link">&laquo; first</a>
                </li>
                <li class="page-item">
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link">previous</a>
                </li>
                    
                {% endif %}
  
                {% if page_obj.has_next %}
                <li class="page-item">
                     <a href="?page={{ page_obj.next_page_number }}" class="page-link">next</a>
                </li>
                <li class="page-item">
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">last &raquo;</a>
                </li>
                    
                {% endif %}
            
            </ul> 
            </nav>
            
            {% for post in page_obj %}
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title"><a class="text-dark" href="{% url 'profile_view' post.user %}"><strong>{{post.user}}</strong></a></h5>
                    <h6 class="card-subtitle mb-4 text-muted">{{ post.created_at }}</h6>
                    <p class="card-text">{{ post.content }}</p>
                    <!-- to get the post id of the specific post -->
                    <input id="post_id{{post.id}}" type="hidden" value="{{ post.id }}">
                    <!-- To get the username of request user -->
                    <input id="user{{post.id}}" type="hidden" value="{{ user.username }}">
                   
                    <span id="like_count{{post.id}}">{{ post.likes }}</span>
                  

                    <button type="button" id="like{{post.id}}" class="like btn btn-outline-primary" value="like">

                        {% if liked_posts %}
                        {% for liked_post in liked_posts %}
                                {% if post.id == liked_post.post_id %}
                                    <i id="heart{{post.id}}" class="bi bi-heart-fill"></i> 
                                {% else %}
                                    <i id="heart{{post.id}}" class="bi bi-heart"></i> 
                                {% endif %}
                        {% endfor %}
                        {% else %}
                            <i id="heart{{post.id}}" class="bi bi-heart"></i> 
                        {% endif %}
                    </button> 
                    <!-- <a href="#" class="card-link">Comment</a> -->
                    {% if user.username == post.user %}
                        <a href="#" class="card-link btn btn-outline-primary">Edit</a>
                    {% else %}
                        <div></div>
                    {% endif %}
                     <!-- Like feature -->
                     <script>
                        document.querySelector('#like{{post.id}}').addEventListener('click',handleClick)

                        function handleClick() {

                            // Get post id of the post
                            const post_id = document.querySelector('#post_id{{post.id}}').value
                            // Get the username of the request user
                            const user = document.querySelector('#user{{post.id}}').value
                            // Create new like obj
                            const like_obj = {
                                post_id: post_id,
                                user: user
                            }
                                    
                            // Fetch PUT to update like count in backend
                            fetch(`/like-post-detail/${post_id}`,{
                            method: 'PUT',
                            body: JSON.stringify(like_obj),
                            })
                            .then((res) => res.json())
                            .then((data) => {
                                // If the user has already liked this post,
                                // Decrement like count and delete like in backend
                                if (data['liked_by'] === '') {
                                    // Change the heart icon
                                    document.querySelector('#heart{{post.id}}').className = 'bi bi-heart'
                                    // Show the total likes in dom
                                    document.querySelector('#like_count{{post.id}}').innerHTML =  data['likes']
                                    console.log(data)
                                } // If this user has not liked this post,
                                // Increment like count and create new like in backend
                                else {
                                    // Change the heart icon
                                    document.querySelector('#heart{{post.id}}').className = 'bi bi-heart-fill'
                                    // Show the total likes in dom   
                                    document.querySelector('#like_count{{post.id}}').innerHTML =  data['likes']
                                }                                                      
                            })
                            .catch((err) => console.log(err))

                            } 
                                
                </script>
                    
                </div>
            </div>

             
        {% endfor %}
        </div>
    </div>
</div>


{% endblock %}  