{% extends 'network/layout.html' %}
{% load static %}
{% block body %}
<div class="container">
    <h3>{{profile.user.username}}</h3>
    Followers: <p id="follower_count" class="lead">{{ profile.followers }}</p>
    Following: <p class="lead">{{ profile.following }}</p>
    {% if user_request != user_profile %}
        <!-- Get user_follow -->
        <input id="user_follow" type="hidden" value="{{ user_request}}"> 
        <!-- Get user_profile -->
        <input id="user_profile" type="hidden" value="{{ user_profile }}"> 
        <button id="follow_btn" class="btn btn-primary"> {% if already_followed %} Unfollow {% else %} Follow {% endif %}</button>
    {% endif %}
    <div class="row justify-content-center align-items-center my-5">
        <div class="col-12">
            {% for post in posts %}
            <div class="card" style="width: 100%;">
                <div class="card-body">
                  <h5 class="card-title">{{post.user}}</h5>
                  <h6 class="card-subtitle mb-4 text-muted">{{ post.created_at }}</h6>
                  <p class="card-text">{{ post.content }}</p>
                  <a href="#" class="card-link" value="{{ post.likes }}">{{ post.likes }} <i class="bi bi-heart"></i> </a>
                  <a href="#" class="card-link">Comment</a>
                  <a href="#" class="card-link">Edit</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Follow features -->
<script src="{% static 'network/follow.js' %}"></script>

{% endblock%}